/*Pricing*/
.pricing {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 150px;
}

.pricing__content {
    max-width: 1266px;
}

.pricing__title {
    margin-bottom: 50px;
}

.pricing__columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pricing__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 372px;
    padding: 34px 34px 81px 34px;
    border-radius: 18px;
    position: relative;
}

.pricing__column--basic {
    border: 1px solid var(--color-redish);
}

.pricing__column--professional {
    width: 405px;
    border: 1px solid var(--color-primary);
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing__column--premium {
    border: 1px solid var(--color-green);
}

.pricing__name {
    margin-bottom: 30px;
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 700;
}

.pricing__column--professional .pricing__name {
    font-size: 21px;
}

.pricing__value {
    font-size: 46px;
    font-weight: 300;
}

.pricing__column--basic .pricing__value {
    margin-bottom: 90px;
    color: var(--color-redish);
}

.pricing__column--professional .pricing__value {
    color: var(--color-primary);
    margin-bottom: 25px;
}

.pricing__column--premium .pricing__value {
    color: var(--color-green);
    margin-bottom: 25px;
}

.pricing__offer {
    font-family: var(--font-secondary);
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 50px;
}

.pricing__column--professional .pricing__offer {
    margin-bottom: 60px;
}

.pricing__item {
    font-size: 14px;
    margin-bottom: 25px;
}

.pricing__item::before {
    content: '';
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Ckechmark-1.svg");
}

.pricing__item--none::before {
    background-image: url("../assets/Close.svg");
}

.pricing__button {
    padding: 16px 57px;
    display: block;
    border-radius: 23px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: 700;
}

.pricing__button.button--pink, .pricing__button.button--green{
    color: var(--color-white);
}


/*Contact*/
.contact__content {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 155px;
    margin-bottom: 60px;
}

.contact__info, .contact__form {
    display: flex;
    flex-direction: column;

}

.contact__info {
    max-width: 342px;
}

.contact__form {
    max-width: 440px;
}

.contact__title {
    margin-bottom: 22px;
}

.contact__subtitle {
    margin-bottom: 40px;
}

.contact__mail, .contact__phone {
    font-size: 16px;
    color: var(--color-grey);
    font-weight: 500;
    position: relative;
}

.contact__mail {
    margin-right: 20px;
}

.contact__data {
    display: flex;
    align-items: center;
}

.contact__data img {
    margin-right: 10px;
}

.form__label {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 700;
    letter-spacing: 3.28px;
    padding-bottom: 20px;
}

.form__input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    margin-bottom: 40px;
}

.form__input--checkbox {
    display: none;
}

.form__label--checkbox {
    display: flex;
}

.form__label--checkbox span {
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 10px;
    cursor: pointer;
}

.form__label--checkbox span img {
    display: none;
}

.form__input--checkbox:checked ~ span img {
    display: inline-block;
}

.form__label--checkbox small {
    font-size: 12px;
    color: #707070;
    line-height: 17px;
}

.form__button {
    margin-top: 20px;
    padding: 20px 97px;
    border: none;
    border-radius: 35px;
    width: 226px;
    align-self: flex-end;
}


/*Footer*/
.footer {
    background-color: var(--color-light-grey);
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__logo {
    color: var(--color-primary);
    font-size: 26px;
    font-family: var(--font-secondary);
    font-weight: 300;
}

.footer__copy {
    font-size: 11px;
    line-height: 15px;
    color: var(--color-grey);
    margin-top: 6px;
}

.footer__right a:first-of-type {
    margin-right: 20px;
}
