/*Benefits*/
.benefits {
  background-color: $color-light-grey;
  padding: 105px 0;
}

.benefits__container {
  max-width: 1124px;
}

.benefits__item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  background-color: $color-white;
  margin-bottom: 37px;
}

.benefits__content {
  max-width: 415px;
  margin: 90px 36px;
}

.benefits__title {
  margin-bottom: 30px;
  max-width: 310px;
}

.benefits__description {
  padding-bottom: 50px;
  position: relative;
}

.benefits__description:after {
  content: '';
  width: 328px;
  height: 4px;
  background-color: $color-pink;
  position: absolute;
  bottom: 0;
  left: 0;
}

.benefits__item:nth-of-type(2) .benefits__description:after {
  background-color: $color-primary;
}

.benefits__image {
  position: relative;
}

.benefits__image img {
  position: relative;
  z-index: 2;
}

.benefits__item:nth-of-type(1) .benefits__image {
  margin-bottom: 38px;
  margin-right: 117px;
}

.benefits__item:nth-of-type(2) .benefits__image {
  margin-left: 70px;
  margin-bottom: 50px;
}

.benefits__item:nth-of-type(1) .benefits__image img {
  width: 400px;
  height: auto;
}

.benefits__item:nth-of-type(2) .benefits__image img {
  width: 380px;
  height: auto;
}

.benefits__item:nth-of-type(1) .benefits__image:before {
  content: '';
  width: 180px;
  height: 180px;
  display: block;
  background-color: $color-redish;
  border-radius: 41px;
  transform: rotate(45deg);
  position: absolute;
  right: 0;
  top: -40px;
}

.benefits__item:nth-of-type(2) .benefits__image:before {
  content: '';
  width: 320px;
  height: 320px;
  display: block;
  background-color: $color-primary;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: -10px;
}

.benefits__item--double {
  display: flex;
}

.benefits__item--double .benefits__item {
  max-width: 620px;
  margin-bottom: 0;
}

.benefits__item--double .benefits__content {
  max-width: unset;
}

.benefits__item--double .benefits__description:after {
  background-color: $color-green;
}

.benefits__item--double .benefits__image {
  margin-left: 60px;
  flex-grow: 1;
  background-color: $color-green;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}

.benefits__item--double .benefits__image img {
  width: 295px;
  height: auto;
}

.benefits__item--double .benefits__title {
  max-width: 400px;
}

//Mobile
@media(max-width: 1024px) {
  .benefits__description:after {
    display: none;
  }
  .benefits__item {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .benefits__item:nth-of-type(1) {
    flex-direction: column-reverse;
  }
  .benefits__content {
    max-width: unset;
    margin: 0 30px;
  }
  .benefits__description {
    padding-bottom: 30px;
  }
  .benefits__item:nth-of-type(1) .benefits__image {
    margin-top: 40px;
    margin-right: 0;
  }
  .benefits__item:nth-of-type(1) .benefits__image:before {
    width: 100px;
    height: 100px;
    top: -30px;
  }
  .benefits__item:nth-of-type(1) .benefits__image img {
    width: 192px;
  }
  .benefits__item:nth-of-type(2) .benefits__image {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .benefits__item:nth-of-type(2) .benefits__image img {
    width: 192px;
    margin-top: 20px;
  }
  .benefits__item:nth-of-type(2) .benefits__image:before {
    width: 140px;
    height: 140px;
    top: 0;
  }
  .benefits__item--double {
    flex-direction: column;
  }
  .benefits__item--double .benefits__content {
    padding: 20px 0;
  }
  .benefits__item--double .benefits__item {
    max-width: unset;
  }
  .benefits__item--double .benefits__image {
    margin-left: 0;
  }
}